*{
   margin: 0; padding:0;
   box-sizing: border-box;
   text-transform: capitalize;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: normal;
}

body{
    background: black;
}



.heading{
    background: black;
    color:  white;
    font-size: 40px;
    text-align: center;
    padding:10px;
}

.box-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:15px;
    align-items: flex-start;
    padding:5px 5%;
    background: black;
    color: white;
}

.box-container .main-video{
    background:black;
    border-radius: 5px;
    padding:10px;
}

.box-container .main-video video{
    width: 100%;
    border-radius: 5px;
}

.box-container .main-video .title{
    color: #fff;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom:15px ;
}

.box-container .video-list{
    background: black;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}

.box-container .video-list::-webkit-scrollbar{
    width: 7px;
}

.box-container .video-list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 50px;
}

.box-container .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
}

.box-container .video-list .vid video{
    width:100px;
    border-radius: 5px;
}

.box-container .video-list .vid{
    display: flex;
    align-items: center;
    gap:15px;
    background: black;
    border-radius: 5px;
    margin:10px;
    padding:10px;
    border:1px solid rgba(0,0,0.1);
    cursor: pointer;
}

.box-container .video-list .vid:hover{
    background: red;
    color: black;
}


.box-container .video-list .vid.vid.active{
    background: red;
    color: white;
}
.box-container .video-list .vid.vid.active{
    background: red;
    color: black;
}
.box-container .video-list .vid .active h3{
   color: #fff; 
}



 @media (max-width:991px){

    .box-container{
        grid-template-columns: 1.5fr 1fr;
        padding:10px;
    }
 }

 @media (max-width:768px){

    .box-container{
        grid-template-columns: 1fr;
    }
 }